<h3 class="title"><%= t("welcome.cards.title") %></h3>

<<<<<<< HEAD
<div class="row">
=======
<div class="row" data-equalizer data-equalizer-on="medium">
>>>>>>> v0.16
  <% @cards.all.each do |card| %>
    <%= render "card", card: card %>
  <% end %>
</div>
